@charset "utf-8";

// --------------------------------------------------------
// rotto 7 original ---

// body {
//   // margin-top: 100px;
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   min-height: 100vh;
//   // justify-content: center;
// }

// .btn {
//   width: 200px;
//   text-align: center;
//   color: red;
//   font-size: 20px;
//   font-weight: bold;
//   background-color: #ffe100;
//   border-radius: 6px;
//   padding: 20px 10px;
//   margin: 20px auto; 
//   cursor: pointer;
//   box-shadow: 0 5px 0 #ffc400, 0px 10px 10px #9f996d;
//   &:active {
//     margin-top: 25px; 
//     box-shadow: 0 0 0 #bfa800, 0px 2px 10px #9f996d;
//   }
// }

// .js_circle {
//   width: 50px;
//   height: 50px;
//   background-color: red !important;
//   border-radius: 50% !important;
//   text-align: center;
//   line-height: 50px;
//   // margin: 3px; // 横型 //
//   color: #fff;
// }

// .js_rottoNumber {
//   width: 50px;
//   height: 50px;
//   background-color: #eee;
//   border-radius: 6px;
//   text-align: center;
//   line-height: 50px;
//   margin: 10px 10px 10px 0;
//   user-select: none;
// }

// .js_marginLeft {
//   &:first-of-type {
//     margin-left: 10px;
//   }
// }

// .card-unit {
//   width: 80%;
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   // align-items: center;
//   // flex-direction: column;
//   // margin: 0 auto;
//   // margin-top: 50px; // pc size 有効 //
// }

// .js_card {
//   display: flex;
//   margin: 10px 0 0; // pc size 有効 //
//   background-color: pink;
//   border-radius: 10px;
// }



//----------------------------------------------------------------------
// Loto 7 ---

html, * {
  overscroll-behavior-y: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;
  // touch-action: none; // not appropriate
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100dvh;
  background-color: #333;
  overflow: hidden;
}

.card-unit {
  position: relative;
  width: max-content;
  display: flex;
  justify-content: center;
  margin: 10px 0 5px;
  &.largeViewport {
    margin: 20px 0;
  }
  .js_card {
    display: flex;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1); 
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4), -1px -1px 3px rgba(0,0,0,0.4); 
    &.activate_loto6 .js_columns {
      width: 70px;
    }
    &.activate_loto6 .js_rows {
      width: 60px !important;
    }
    .js_columns {
      width: 80px; 
      display: flex;
      flex-direction: column;
      align-items: center;
      &:first-of-type {
        margin-left: 10px;
      }
      .js_rows {
        width: 70px; 
        height: 43px; 
        background-color: rgba(255,255,255,0.6); 
        border-radius: 6px;
        margin: 10px 10px 0 0; 
        display: flex;
        justify-content: center;
        align-items: center;
        &:last-child {
          margin-bottom: 10px;
        } 
      }
      .js_circle {
        width: 43px !important; 
        aspect-ratio: 1;
        border-radius: 50% !important;
        background-color: #ff0000aa !important;
        color: #fff;
      }
    }
  }
}

.btn-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: max-content;
  height: 50px;
  .btn-toggle {
    position: relative;
    width: 80px; 
    height: 50px;
    background-color: rgba(255,255,255,0.1); 
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2), -1px -1px 5px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    &::before {
      content: ""; 
      position: absolute;
      background-image: url('img/repeat-1.png');
      background-position: center;
      background-size: cover;
      width: 38px;
      height: 38px;
      filter: invert(1);
    }
  }
  .theme-loto {
    position: relative;
    width: 80px; 
    height: 50px;
    background-color: rgba(255,255,255,0.1); 
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2), -1px -1px 5px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--theme);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    img {
      width: 70px;
      height: auto;
    }
  }
  .btn-getNum {
    position: relative;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0000af;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(255,255,255,0.1); 
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 0 rgba(255,255,255,0.3), 5px 10px 10px rgba(0,0,0,0.2), -5px -5px 5px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 20px 10px;
    margin: 0 15px; 
    cursor: pointer;
    .fa-face {
      font-size: 35px;
      padding: 0 3px;
    }
    .fa-star {
      font-size: 18px;
    }
    &.active {
      margin-top: 5px; 
      box-shadow: 0 0 0 rgba(255, 255, 255, 0.5), 0 0 0 rgba(255,255,255,0.5);
      color: #0f0;
    }
  }
}

.bg {
  position: absolute;
  width: 100%;
  height: 100dvh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.bg.loto7 {
  background-image: url('img/pic5.jpg');
}
.bg.loto6 {
  background-image: url('img/pic1.jpg');
  background-position: -250px 0px;
}
.bg.lotoMini {
  background-image: url('img/pic2.jpg');
  background-position: -200px -500px;
  background-size: 1200px 1400px;
}
.bg.numbers4 {
  background-image: url('img/pic3.jpg');
  background-position: -200px -500px;
  background-size: 1200px 1400px;
}


@media (max-width: 420px) {
  video {
    display: none;
  }
}

@media (min-width: 420px) {
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .card-unit, .btn-wrapper, .bg {
    display: none;
  }
}


//----------------------------------------------------------------------

























